**

!bitflip_server/
!bitflip_server/pubspec.yaml
!bitflip_server/pubspec.lock
!bitflip_server/bitflip_server_client/
!bitflip_server/bitflip_server_client/**
!bitflip_server/bitflip_server_server/
!bitflip_server/bitflip_server_server/**
!bitflip_program/
!bitflip_program/clients/
!bitflip_program/clients/dart/
!bitflip_program/clients/dart/**

**/.dart_tool/
**/.serverpod/
**/build/
**/coverage/
**/test/
**/config/passwords.yaml
